![Insper](https://github.com/danielscarvalho/Insper-DS-Dicas/blob/master/Insper-Logo.png?raw=true)

# Insper Pós-Graduação
## Programa Avançado em Data Science e Decisão [»](https://www.insper.edu.br/pos-graduacao/programas-avancados/data-science-e-decisao/)

# PADSW04 - Checkpoint de aprendizagem

<img src="https://s2.glbimg.com/yRAg4neotKdKHDgjKDStFucWDfw=/0x0:5278x3519/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/I/z/geO9zzSuA9FkloAFqTHg/000-8vd68k.jpg" width="500"/>

<p style="text-align:center;">Imagem: https://bit.ly/3sxlQfQ</p>


Esta prática faz uso de *dados reais* disponibilizados no repositório : https://github.com/wcota/covid19br/blob/master/DESCRIPTION.md 

Ele contém a série histórica de casos de COVID-19 no Brasil. Há arquivos com dados consolidados por estado e outros focados em municípios. Além disso, há arquivos com informações auxiliares sobre os municípios e as fontes de dados. 


### Dados  

Utilizaremos os seguintes arquivos disponibilizados neste repositório:

- `cases-brazil-states.csv` - série histórica completa de casos de COVID-19 no Brasil por estado
- `cases-brazil-cities.csv` - dados de COVID-19 no Brasil por município, do último dia disponível 
- `cities_info.csv` - informações adicionais sobre o município, como população, se o local é região metropolitana, etc
- `gps_cities.csv` - coordenadas GPS de cada município

Você não precisa baixar os dados, pode consumi-los online por meio de comandos como: 

```python
    import pandas as pd 
    df = pd.read_csv("https://raw.githubusercontent.com/wcota/covid19br/master/cases-brazil-states.csv")
```

_DICA_ : acesse o repositório para conhecer o Dicionário das Variáveis! 


### Exercícios 

Você tem algumas tarefas a serem realizadas:

1. Considerando o arquivo `cases-brazil-states.csv`, responda: 

    a. [**0,25 ponto**] Quantas linhas e colunas ele possui? 
    
    b. [**0,25 ponto**] Quais são os tipos de dados das variáveis? 
    
    c. [**0,25 ponto**] Obtenha estatísticas básicas sobre estes dados (valores médios, mínimos, máximos, etc). Todos os números fazem sentido?
    
    d. [**0,25 ponto**] Converta a coluna `date` para o formato `DateTime`
    

2. Considerando o arquivo `cases-brazil-cities.csv`, responda: 

    a. [**1 ponto**] Quantas cidades _distintas_ existem? 
    
    b. [**1 ponto**] O arquivo lista os casos por município no último dia. Obtenha por meio de manipulação deste arquivo um DataFrame com o número de casos e de mortes por estado 
    
    
3. [**1 ponto**] Na data de 25/fevereiro/2021, quais são os TOP10 estados com mais imunizados? Lembre-se: só está imunizado quem tomou a 2ª dose da vacina. 

4. [**2 pontos**] Encontre as TOP5 cidades do seu estado com o menor índice de mortalidade de COVID-19. 

5. [**2 pontos**] A partir das TOP5 cidades encontradas no _item 4._ , construa um dataframe com informações sobre este município (inclua as colunas: `código IBGE, nome completo, latitude, longitude, população 2020, indicação se a cidade é região metropolitana ou não`)

6. [**2 pontos**] Faça um gráfico que mostre a evolução histórica de novos casos nos últimos 7 dias, comparando o TOTAL do Brasil com o TOTAL do estado de RJ, na mesma imagem 



### Data de entrega

Estes exercícios devem ser feitos em sala de aula, com entrega via BlackBoard até às 18h. IMPORTANTE: renomeie o notebook incluindo seu nome!

Em caso de dúvidas, chame o professor. Consultas aos materiais/Internet são permitidas. Bom trabalho!

![Força](https://github.com/danielscarvalho/Insper-DS-Dicas/blob/master/img/for%C3%A7a.jpg?raw=true)

# Respostas

## 1)

In [36]:
import pandas as pd 
df_states = pd.read_csv("https://raw.githubusercontent.com/wcota/covid19br/master/cases-brazil-states.csv")
df_states.head()

,epi_week,date,country,state,city,newDeaths,deaths,newCases,totalCases,deathsMS,...,tests,tests_per_100k_inhabitants,vaccinated,vaccinated_per_100_inhabitants,vaccinated_second,vaccinated_second_per_100_inhabitants,vaccinated_single,vaccinated_single_per_100_inhabitants,vaccinated_third,vaccinated_third_per_100_inhabitants
0,9,2020-02-25,Brazil,SP,TOTAL,0,0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9,2020-02-25,Brazil,TOTAL,TOTAL,0,0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9,2020-02-26,Brazil,SP,TOTAL,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9,2020-02-26,Brazil,TOTAL,TOTAL,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9,2020-02-27,Brazil,SP,TOTAL,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### a. Quantas linhas e colunas ele possui?

In [37]:
n_colunas = df_states.shape[1]
n_linhas = df_states.shape[0]

print("Há um total de %d linhas e %d colunas" %(n_linhas, n_colunas))

Há um total de 30842 linhas e 26 colunas

### b. Quais são os tipos de dados das variáveis?

In [38]:
df.dtypes

epi_week                                   int64
date                                      object
country                                   object
state                                     object
city                                      object
newDeaths                                  int64
deaths                                     int64
newCases                                   int64
totalCases                                 int64
deathsMS                                   int64
totalCasesMS                               int64
deaths_per_100k_inhabitants              float64
totalCases_per_100k_inhabitants          float64
deaths_by_totalCases                     float64
recovered                                float64
suspects                                 float64
tests                                    float64
tests_per_100k_inhabitants               float64
vaccinated                               float64
vaccinated_per_100_inhabitants           float64
vaccinated_second                        float64
vaccinated_second_per_100_inhabitants    float64
vaccinated_single                        float64
vaccinated_single_per_100_inhabitants    float64
vaccinated_third                         float64
vaccinated_third_per_100_inhabitants     float64
dtype: object

### c. Obtenha estatísticas básicas sobre estes dados (valores médios, mínimos, máximos, etc). Todos os números fazem sentido?

In [11]:
df_states.describe()

,epi_week,newDeaths,deaths,newCases,totalCases,deathsMS,totalCasesMS,deaths_per_100k_inhabitants,totalCases_per_100k_inhabitants,deaths_by_totalCases,...,tests,tests_per_100k_inhabitants,vaccinated,vaccinated_per_100_inhabitants,vaccinated_second,vaccinated_second_per_100_inhabitants,vaccinated_single,vaccinated_single_per_100_inhabitants,vaccinated_third,vaccinated_third_per_100_inhabitants
count,30842.000000,30842.000000,30842.000000,30842.000000,3.084200e+04,30842.000000,3.084200e+04,30842.000000,30842.000000,30842.000000,...,2.950800e+04,29508.000000,2.211100e+04,22111.000000,2.147600e+04,21476.000000,1.785100e+04,17851.000000,1.573200e+04,15732.000000
mean,146.739446,45.347902,32058.683873,2404.871279,1.395334e+06,32052.913430,1.395038e+06,207.608601,10620.583377,0.023812,...,3.562610e+06,24621.527677,9.802526e+06,62.311150,8.267940e+06,51.308267,3.598113e+05,2.431704,5.745770e+06,33.545352
std,87.895637,187.855717,96880.393547,9104.676302,4.339018e+06,96872.497689,4.338608e+06,126.552746,7803.545079,0.012996,...,1.044924e+07,16505.421680,2.808422e+07,28.920119,2.464746e+07,28.730230,9.467502e+05,1.633221,1.726811e+07,21.658096
min,9.000000,-43.000000,0.000000,-19581.000000,1.000000e+00,0.000000,0.000000e+00,0.000000,0.000470,0.000000,...,8.540000e+02,36.761660,2.000000e+00,0.000010,4.000000e+00,0.000050,1.900000e+01,0.000010,1.000000e+00,0.000000
25%,50.000000,1.000000,2627.000000,83.000000,1.479220e+05,2624.000000,1.476890e+05,91.624295,3876.741667,0.016680,...,4.104490e+05,12404.627492,1.054924e+06,45.515395,5.938220e+05,20.806393,5.392100e+04,1.742430,3.449805e+05,13.297130
50%,137.000000,6.000000,8429.500000,450.000000,3.774810e+05,8422.000000,3.772660e+05,218.700400,9968.647755,0.021550,...,9.807270e+05,23225.858190,2.811407e+06,74.668310,2.319006e+06,63.164295,1.151440e+05,2.060880,1.453763e+06,34.763495
75%,224.000000,23.000000,20850.500000,1433.750000,9.398152e+05,20849.000000,9.395288e+05,312.147713,15224.854165,0.026020,...,2.313502e+06,32854.756100,6.869551e+06,83.564280,5.850360e+06,75.451590,2.773560e+05,2.684260,3.739890e+06,53.799633
max,311.000000,4146.000000,699310.000000,285396.000000,3.708552e+07,699310.000000,3.708552e+07,445.133240,32936.309460,0.222220,...,7.092322e+07,68117.361340,1.838694e+08,96.646030,1.703860e+08,88.976590,5.759211e+06,11.608060,1.263480e+08,75.704830

In [18]:
df["state"].unique()

array(['SP', 'TOTAL', 'RJ', 'BA', 'ES', 'DF', 'AL', 'MG', 'RS', 'GO',
       'PE', 'PR', 'RN', 'SC', 'AM', 'MS', 'SE', 'CE', 'AC', 'PA', 'PB',
       'TO', 'PI', 'AP', 'MA', 'MT', 'RO', 'RR'], dtype=object)

R: Os valores não fazem sentido, pois na coluna "state" referente aos estados, há um valor "TOTAL" que provavelmente se refere aos números dos países, então ao realizar a função *describe*, ele realiza as estatísticas considerando o número total também. O ideal seria de retirar a coluna total ou separar os dados em dois datasets, um referente apenas aos estados e outro referente ao país, para obter métricas diferentes

Além disso, os valores são referentes aos dias de uma série temporal, então o ideal seria de agrupar por dias ou semanas para obter as estatísticas também em um âmbito temporal.

### d. Converta a coluna date para o formato DateTime

In [39]:
type(df_states["date"][0])

str

In [40]:
df_states["date"] = pd.to_datetime(df_states["date"])

In [41]:
type(df_states["date"][0])

pandas._libs.tslibs.timestamps.Timestamp

## 2)

In [43]:
import pandas as pd 
df_cities = pd.read_csv("https://raw.githubusercontent.com/wcota/covid19br/master/cases-brazil-cities.csv")
df_cities.head()

,country,state,city,ibgeID,deaths,totalCases,deaths_per_100k_inhabitants,totalCases_per_100k_inhabitants,deaths_by_totalCases,_source,date,newCases,newDeaths,last_info_date
0,Brazil,GO,Abadia de Goiás/GO,5200050,50,4074,545.97074,44485.69557,0.01227,MS,2023-03-18,5,0,2023-03-18
1,Brazil,MG,Abadia dos Dourados/MG,3100104,21,1943,299.06010,27670.17944,0.01081,MS,2023-03-18,0,0,2023-03-18
2,Brazil,GO,Abadiânia/GO,5200100,55,2218,263.49830,10626.16778,0.02480,MS,2023-03-18,-1,0,2023-03-18
3,Brazil,PA,Abaetetuba/PA,1500107,244,12009,152.08272,7485.08779,0.02032,MS,2023-03-18,13,0,2023-03-18
4,Brazil,MG,Abaeté/MG,3100203,51,4279,219.23226,18394.01625,0.01192,MS,2023-03-18,0,0,2023-03-18

### a. Quantas cidades distintas existem?

In [47]:
unique_cities = len(df_cities["city"].unique())

print("Há um total de %d cidades distintas" % unique_cities)

Há um total de 5596 cidades distintas

### b. O arquivo lista os casos por município no último dia. Obtenha por meio de manipulação deste arquivo um DataFrame com o número de casos e de mortes por estado

In [62]:
df_cities.groupby(["state"]).agg({"deaths":"sum", "totalCases":"sum"})

       deaths  totalCases
state
AC       2043      160452
AL       7242      337568
AM      14443      631976
AP       2167      185673
BA      31459     1792572
CE      28157     1453417
DF      11845      898072
ES      15041     1323595
GO      28041     1900459
MA      11053      493418
MG      65507     4189760
MS      11016      607776
MT      15090      879415
PA      19025      872068
PB      10542      707854
PE      22687     1157160
PI       8354      424866
PR      46022     2920177
RJ      76852     2754359
RN       8715      585935
RO       7432      482910
RR       2180      182505
RS      41921     2962414
SC      22703     1986447
SE       6502      359692
SP     179039     6469442
TO       4232      365538

## 3) Na data de 25/fevereiro/2021, quais são os TOP10 estados com mais imunizados? Lembre-se: só está imunizado quem tomou a 2ª dose da vacina.

In [91]:
date = pd.to_datetime("2021-02-25") #Filtro da data

df_states_filter = df_states[df_states["date"] == date].sort_values(by = "vaccinated_second", ascending = False)

top_10_imu = df_states_filter[1:11][["state","vaccinated_second"]] # começa com o index 1 pois o primeiro valor é o total

top_10_imu.reset_index().drop(columns=['index'])

  state  vaccinated_second
0    SP           582581.0
1    MG           228533.0
2    RJ           110281.0
3    PE            97877.0
4    PR            96130.0
5    RS            92355.0
6    BA            88873.0
7    CE            80548.0
8    SC            52075.0
9    MA            47991.0

## 4) Encontre as TOP5 cidades do seu estado com o menor índice de mortalidade de COVID-19.

In [ ]:
df_cities["mortRate"] = df_cities["deaths"]/df_cities["totalCases"]

top_5_mortRate = df[]